.home-image-slider {
    --home-image-slider-gallery-item-painter-font-size: 22px;
}

.home-image-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50vw;
}

.home-image-slider-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-image-slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 100;
}

.home-image-slider-controls img {
    height: 30px;
}

.home-image-slider-controls-left {
    margin-left: 10px;
}

.home-image-slider-controls-right {
    margin-right: 10px;
}

.home-image-slider-gallery-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.home-image-slider-gallery-item {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.home-image-slider-gallery-item-painter {
    position: absolute;
    bottom: 5%;
    background: #FFFFFFCC;
    color: #818181;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    font-size: var(--home-image-slider-gallery-item-painter-font-size);
}

@media screen and (max-width: 1280px){
    .home-image-slider {
        --home-image-slider-gallery-item-painter-font-size: 18px;
    }

    .home-image-slider-controls img {
        height: 24px;
    }
}

@media screen and (max-width: 834px){
    .home-image-slider {
        --home-image-slider-gallery-item-painter-font-size: 16px;
    }


    .home-image-slider-controls img {
        height: 18px;
    }
}

@media screen and (max-width: 440px){
    .home-image-slider {
        --home-image-slider-gallery-item-painter-font-size: 12px;
    }

    .home-image-slider-controls img {
        height: 14px;
    }
}

@media screen and (max-width: 320px){
    .home-image-slider {
        --home-image-slider-gallery-item-painter-font-size: 10px;
    }

    .home-image-slider-controls img {
        height: 14px;
    }
}