.artMarket-page{
  
    /*max width*/
    --artMarket-page-width: 1440px;

    /*height*/
    --artMarket-product-container-height: 1200px;   

    /*gap*/
    --artMarket-dropdownButton-container-min-gap: 20px;
    --artMarket-iconButton-container-min-gap: 20px;
    --artMarket-product-container-gap: 35px;

    /*margin-bottom*/
    --artMarket-dropdownButton-container-margin-bottom:88px;
    --artMarket-product-container-margin-bottom:108px;
    --artMarket-iconButton-container-margin-bottom:40px;

    /*grid-auto-rows*/
    --artMarket-product-container-grid-auto-rows: 300px;
}

.artMarket-page{
    position: relative;
    width:100%;
    max-width:var(--artMarket-page-width);
    padding: 140px 80px 50px 80px; /* top right bottom left */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0 auto; 
}
.artMarket-search-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    transition: all 0.5s ease-in-out;
}

.artMarket-search-container.moved {
    justify-content: flex-start; 
}

.artMarket-iconButton-container{
    width:100%;
    display:flex;
    gap:var(--artMarket-iconButton-container-min-gap);
    padding:0px 77px;
    justify-content: space-between;
    margin-bottom:var(--artMarket-iconButton-container-margin-bottom);
}


.artMarket-dropdownButton-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:0px 184px;
    gap:var(--artMarket-dropdownButton-container-min-gap);
    margin-bottom:var(--artMarket-dropdownButton-container-margin-bottom);
}

.artMarket-product-container{
    width:100%;
    height:var(--artMarket-product-container-height);
    display:grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-auto-rows: var(--artMarket-product-container-grid-auto-rows); 
    gap: var(--artMarket-product-container-gap);
    justify-items: stretch; 
    align-items: start;
    margin-bottom:var(--artMarket-product-container-margin-bottom);
}



/*RWD*/

@media screen and (max-width: 1280px) {
    .artMarket-page{
      
        padding: 120px 71px 40px 71px; /* top right bottom left */
    }

    .artMarket-iconButton-container{
        padding:0px 0px;
       
    }

    .artMarket-dropdownButton-container{
        padding:0px 117px;
        --artMarket-dropdownButton-container-margin-bottom: 80px;
    }

    .artMarket-product-container{
        --artMarket-product-container-gap:26px;
        --artMarket-product-container-grid-auto-rows:280px;
        --artMarket-product-container-height:1150px;
    }

   
}


@media screen and (max-width: 834px){
    .artMarket-page{

        
        padding: 120px 62px 40px 62px; /* top right bottom left */
    }

    .artMarket-iconButton-container{
        padding:0px 0px;
    
    }

    .artMarket-dropdownButton-container{
        padding:0px 42px;
        --artMarket-dropdownButton-container-gap: 55px;
    
    }

    .artMarket-product-container{
        grid-template-columns: repeat(4, 1fr); ;
        --artMarket-product-container-gap:35px 20px;
        --artMarket-product-container-grid-auto-rows:180px;
        --artMarket-product-container-height:auto;
    }
}



@media screen and (max-width: 768px){
    .artMarket-page{
        width:768px;
    }
}





@media screen and (max-width: 440px){
    .artMarket-page{
        width:100%;
        max-width:440px;
        padding: 108px 35px 40px 35px; /* top right bottom left */
    }

    .artMarket-iconButton-container{
        padding:0px 17px;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        --artMarket-iconButton-container-margin-bottom: 25px;
    }

    .artMarket-dropdownButton-container{
        padding:0px 17px;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        --artMarket-dropdownButton-container-margin-bottom: 35px;
        justify-items: center;
        align-items: center;
        
    }

    .artMarket-product-container{
        grid-template-columns:repeat(2, 1fr);   
        --artMarket-product-container-gap:32px 21px;
        --artMarket-product-container-height:auto;
        --artMarket-product-container-grid-auto-rows:166px;

      }

    .artMarket-dropdownButton-container > :nth-child(4) {
        grid-column: 1 / 3; 
        grid-row: 2; 
      }
      
      .artMarket-dropdownButton-container > :nth-child(5) {
        grid-column: 2 / 4; 
        grid-row: 2; 
      }

}

@media screen and (max-width: 370px){
    .artMarket-page{
        width: 370px;
        padding: 108px 28px 40px 28px; /* top right bottom left */
    }

    .artMarket-iconButton-container{
        padding:0px 11px;
    }

    .artMarket-dropdownButton-container{
        padding:0px 11px;
    }

    .artMarket-product-container{
        --artMarket-product-container-gap: 26px 15px;
    }
}