.artworkEntrustMarket-page {

  position: relative;
  width: 100%;
  max-width:1440px;
  padding: 100px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.artworkEntrustMarket-tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0px;
}

.artworkEntrustMarket-setTab-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
}

.artworkEntrustMarket-marketCard-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:30px;
 
}

.artworkEntrustMarket-show-more-button {
  background: none;
  color: #2DAEF4;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.artworkEntrustMarket-show-more-button:hover {
  color: #1C8CD1;
}

@media (max-width: 1280px) {
  .artworkEntrustMarketPage {
      width: 100%;
  }

  .artworkEntrustMarket-setTab-container {
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .artworkEntrustMarket-marketCard-container {
      gap:25px;
 
  }
}

@media screen and (max-width: 834px) {
  .artworkEntrustMarket-marketCard-container {
  
     gap:20px;
  }
}

@media screen and (max-width: 768px) {
  .artworkEntrustMarket-page {
    width:768px;
  }
}



@media screen and (max-width: 440px) {

  .artworkEntrustMarket-page {
    width:100%;
  }



  .artworkEntrustMarket-setTab-container{
    padding: 0px 0px;
  }

  .artworkEntrustMarket-marketCard-container {
    grid-template-columns: repeat(1, 1fr);
  }



  .artworkEntrustMarket-show-more-button {
      font-size: 12px;
  }
}

@media screen and (max-width: 370px) {
  .artworkEntrustMarket-marketCard-container {
  
    gap:10px;
 }
}
