
.entrustApplicants-page{
    position: relative;
    width:100%;
    max-width:1440px;
    padding: 100px 30px 20px 30px; 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}

.entrustApplicants-button-container{
    width:100%;
    display:flex;
    justify-content: flex-start;
}

.entrustApplicants-back-button{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.entrustApplicants-applicants-container{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top:60px;
}