.ArtworkCalendar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ArtworkCalendar-top {
  display: flex;
  gap: 30px;
  width: 100%;
}

.ArtworkCalendar-calendar-field {
  width: 100%;
  max-width: 735px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: fit-content;
}

.ArtworkCalendar-cases-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
