.artworkPainterProfilePage{
    /*max width */
    --artworkPainterProfilePage-width: 1440px;
}
.artworkPainterProfilePage{
    width:100%;
    max-width:var(--artworkPainterProfilePage-width);
    padding: 80px 0px 20px 0px; 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}
.artworkPainterDetail-container{
    display:flex;
    flex-direction: column;
    width:100%;
}
.artworkPainterCalendar-container{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-items: stretch; 
    align-items: start;
}
.artworkReview-container{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-items: stretch; 
    align-items: start;
}
.artworkPainterProfile-tab-container{
    display:flex;
    flex-direction: column;
    width:100%;
    padding:0px 20px;

}
.artworkPainterProfilePage .tab-content {
    height: auto !important; /* 讓內容根據內容自動調整高度 */
    min-height: 520px; /* 設定最小高度，確保基本內容不會太小 */
    overflow: visible !important; /* 讓內容不會被遮住 */
}
@media (max-width: 1280px) {
    .artworkPainterProfilePage{
        width:100%;
    }
    .artworkPainterDetail-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkPainterCalendar-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkReview-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
}

@media (max-width: 834px) {
    .artworkPainterProfilePage{
        width:100%;

    }
    .artworkPainterDetail-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkPainterCalendar-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkReview-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
}
@media (max-width: 768px){
    .artworkPainterProfilePage{
        width:100%
    }
    .artworkPainterDetail-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkPainterCalendar-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkReview-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
}
@media (max-width: 480px) {
    .artworkPainterProfilePage{
        width:100%;
    }
    .artworkPainterDetail-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkPainterCalendar-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkReview-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
}
@media (max-width: 440px) {
    .artworkPainterProfilePage{
        width:100%;
    }
    .artworkPainterDetail-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkPainterCalendar-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkReview-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
}
@media (max-width: 370px) {
    .artworkPainterProfilePage{
        width:100%;
    }
    .artworkPainterDetail-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkPainterCalendar-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .artworkReview-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
}



