.artworkPainterPage{

    /*max width */
    --artworkPainterPage-width: 1440px;


    /*gap*/
    --artworkPainter-dropdownButton-container-min-gap: 20px;
    --artworkPainter-button-container-gap: 80px;
    --artworkPainterProfileCard-container-gap: 60px;


     /*margin-bottom*/
     --artworkPainter-button-container-margin-bottom:50px;
     --artworoPainterProfileCard-margin-bottom:50px;
}

.artworkPainterPage{
    width:100%;
    max-width:var(--artworkPainterPage-width);
    padding:140px 88px 50px 88px; /* top right bottom left */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}
.artworkPainterPage-search-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    transition: all 0.5s ease-in-out;
    z-index: 100;
}

.artworkPainterPage-search-container.moved {
    justify-content: flex-start; 
}

.artworkPainter-button-container{
    width:100%;
    display:flex;
    gap:var(--artworkPainter-button-container-gap);
    padding: 0px 190px;
    justify-content: center;
    align-items: center;
    margin-bottom:var(--artworkPainter-button-container-margin-bottom);
   
}


.artworkPainterProfileCard-container{
    display:flex;
    flex-direction: column;
    gap:var(--artworkPainterProfileCard-container-gap);
    margin-bottom:var(--artworoPainterProfileCard-margin-bottom);
}


@media screen and (max-width:1280px){
    .artworkPainterPage{
       
        padding:120px 66px 50px 66px;  /* top right bottom left */
    }

    .artworkPainter-button-container{
        padding: 0px 128px;
        --artworkPainter-button-container-gap:60px;
    }
}


@media screen and (max-width:834px){
    .artworkPainterPage{
        padding:120px 50px 50px 50px;
    }

    .artworkPainter-button-container{
        padding: 0px 55px;
        --artworkPainter-button-container-gap:36px;
    }

    .artworkPainterProfileCard-container{
        --artworkPainterProfileCard-container-gap:30px;
    }
}


@media screen and (max-width:768px){
    .artworkPainterPage{
        width:768px;
    }
}



@media screen and (max-width: 440px){
    .artworkPainterPage{
        width:100%;
        max-width:440px;
        padding : 108px 30px 25px 30px;
    }

    .artworkPainter-button-container{
        padding:0px 15px;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        --artworkPainter-button-container-margin-bottom: 30px;
        justify-items: center;
        align-items: center;
    }

    .artworkPainter-button-container > :nth-child(4) {
        grid-column: 1 / 3; 
        grid-row: 2; 
      }
      
      .artworkPainter-button-container > :nth-child(5) {
        grid-column: 2 / 4; 
        grid-row: 2; 
      }

      .artworkPainterProfileCard-container{
        --artworkPainterProfileCard-container-gap:20px;
    }
}


@media screen and (max-width: 370px){
    .artworkPainterPage{
        width:370px;
        padding: 108px 26px 40px 26px;
    }

    .artworkPainter-button-container{
        padding: 0px 30px;
    }

    .artworkPainterProfileCard-container{
        --artworkPainterProfileCard-container-gap:10px;
    }
}