.ArtworkPainterProfileCard{
  display:flex;
  flex-direction: column;
  max-width:1440px;
  width:100%;
  height:auto;
  margin-top:0px;
}
.ArtworkPainterDetail-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.ArtworkPainterDetail-header {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  position: relative;
  max-height:834px;
  width: 100%;
  height: auto; 
  margin: 0; 
  padding: 0;
}
  
.ArtworkPainterDetail-background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
  
.ArtworkPainterDetail-profile-content {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 31px 0 95px 30px;
}
  
.ArtworkPainterDetail-header-actions {
  display: flex;
  margin-right: 42px;
  width: 100%;
  max-width: 1368px;
  align-items: start;
  gap: 20px;
  font: 600 16px/1.5 Inter, sans-serif;
  color: #fff;
  letter-spacing: 2px;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.ArtworkPainterDetail-exclamation-button {
  display: flex;
  gap: 3px;
  font-size: 16px;
  align-items: center;
}
  
.ArtworkPainterDetail-exclamation-icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 30px; 
}
  
.ArtworkPainterDetail-rating-wrapper {
  border-radius: 3px;
  display: flex;
  gap: 5px;
  font-size: 18px;
  padding: 7px 11px;
  align-items: center;
}
  
.ArtworkPainterDetail-rating-icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 16px;
}
  
.ArtworkPainterDetail-profile-info {
  align-self: end;
  display: flex;
  margin-top: 72px;
  width: 828px;
  max-width: 100%;
  gap: 20px;
  color: #fff;
  letter-spacing: 1px;
  flex-wrap: wrap;
  justify-content: space-between;
  font: 600 16px/26px Inter, sans-serif;
}
  
.ArtworkPainterDetail-profile-avatar {
  aspect-ratio: 1.07;
  object-fit: contain;
  width: 198px;
  border-radius: 90px;
  max-width: 100%;
}
  
.ArtworkPainterDetail-price-list {
  border-radius: 5px 0 0 5px;
  background-color: rgb(84, 150, 189);
  border: 1px solid #fff;
  border-right: 0;
  align-self: start;
  margin-top: 5px;
  padding: 17px 10px;
 }
  
.ArtworkPainterDetail-username {
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
  align-self: center;
  margin-top: 71px;
  font: 600 40px Inter, sans-serif;
}

.ArtworkPainterDetail-action-buttons {
  align-self: center;
  display: flex;
  margin-top: 72px;
  width: 219px;
  max-width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.ArtworkPainterDetail-commission-button {
  border-radius: 10px;
  background-color: rgb(45, 174, 244);
  color: #fff;
  text-align: center;
  letter-spacing: 6px;
  padding: 13px 25px;
  font: 600 20px Inter, sans-serif;
}

.ArtworkPainterDetail-attendance-button {
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  padding: 6px;
  border: 1px solid rgb(141, 215, 255);
}

.ArtworkPainterDetail-attendance-icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 30px;
}

.ArtworkPainterDetail-introduction-header {
  display: flex;
  margin-top: 66px;
  width: 100%;
  max-width: 1329px;
  gap: 20px;
  font-family: Inter, sans-serif;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ArtworkPainterDetail-introduction-title {
  color: rgb(45, 174, 244);
  font: 600 30px Inter, sans-serif;
  letter-spacing: 1px;
}

.ArtworkPainterDetail-header-actions {
  display: flex;
  gap: 14px;
  font: 500 15px Inter, sans-serif;
  color: #fff;
  letter-spacing: 4px;
}

.ArtworkPainterDetail-view-id {
  border-radius: 5px;
  background-color: rgb(155, 155, 155);
  text-align: center;
  padding: 9px 13px;
}

.ArtworkPainterDetail-toggle-wrapper {
  border-radius: 5px;
  background-color: rgb(155, 155, 155);
  display: flex;
  gap: 10px;
  padding: 7px 12px;
  align-items: center;
}

.ArtworkPainterDetail-toggle-icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 22px;
}

.ArtworkPainterDetail-introduction-text {
  color: rgb(135, 135, 135);
  letter-spacing: 1px;
  margin-top: 25px;
  font: 500 20px/40px Inter, sans-serif;
}