.ModallmagePainterPortfolio-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ModallmagePainterPortfolio-content {
    max-width:1280px;
    width: 90%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
}


.ModallmagePainterPortfolio-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ModallmagePainterPortfolio-image-section {
    width: 100%;
    max-height:80vh;
    flex: 1.5;
    padding: 30px 35px;
    display: flex;

}

.ModallmagePainterPortfolio-image-container{
    position: relative;
    width:100%;
}

.ModallmagePainterPortfolio-image-container img {
    position: relative;
    width: 100%;
    object-fit: cover;
    height:80vh;
    border-radius: 15px;
}
.ModallmagePainterPortfolio-close {
    width:40px;
    height:40px;
    position: absolute;
    top: -10px;
    left:-10px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-family: "Noto Sans TC";
    font-weight: 600;
    line-height: normal;
    border-radius: 50%;
    background: #4A8CB9;
    z-index: 1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); /* 柔和的背景擴散 */
    transition: all 0.2s ease;
}
.ModallmagePainterPortfolio-close:active {
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.5), 
    0 2px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(4px); 
}

.ModallmagePainterPortfolio-likesIcon-container{
    position:absolute;
    top:20px;
    right:25px;
    width: 140px;
    height: 54px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    border-radius: 3px;
    border: 0.5px solid #FF5C5C;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);    
  }

  .ModallmagePainterPortfolio-likesIcon-container img{
    width: 40px !important;
    height: 40px !important;
    object-fit: contain;
  }

  .ModallmagePainterPortfolio-likes-number{
    color: #FF5C5C;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

.ModallmagePainterPortfolio-select-section {
    border-radius: 10px;
    background-color: white;
    width: 100%;
    max-width:570px;
    height: auto;
    align-items: stretch;
    flex: 1;
    padding: 50px 35px;
    position: relative;
}
.ModallmagePainterPortfolio-category-width{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.ModallmagePainterPortfolio-style-width {
    flex: 1;
    display: flex;
    flex-direction: column;
}
/* 下拉按鈕 */
.ModallmagePainterPortfolio-dropdown-container {
    position: relative; 
    display: flex;
    align-items: center;
    gap: 10px;
}
/*最多幾項的說明*/
.ModallmagePainterPortfolio-max-selection {
    font-size: 15px;
    min-width:max-content;
    color:  #4F4F4F;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}
.ModallmagePainterPortfolio-download-label {
    color: #4F4F4F;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

/* 類別選擇 & 風格選擇的下拉按鈕樣式 */
#category-dropdown, #style-dropdown {
    background-color: #8DD7FF;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    height:auto;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    max-width:120px;
}

/* 設定箭頭置中 */
#category-dropdown::after, #style-dropdown::after {
    content: "▼";
    font-size: 12px;
    color: white;
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#category-dropdown.open::after, #style-dropdown.open::after {
    content: "▲";
}
/* 滑鼠懸停在 checkbox 上時變成手指 */
.ModallmagePainterPortfolio-dropdown-option input[type="checkbox"] {
    cursor: pointer;
    width:20px;
    height:20px;
}
.ModallmagePainterPortfolio-dropdown {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    position: relative;
    width: 100%;
    box-sizing:border-box;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
}

.ModallmagePainterPortfolio-dropdown::after {
    content: "▼";
    font-size: 14px;
    color: #555;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.ModallmagePainterPortfolio-dropdown.open::after {
    content: "▲";
}

.ModallmagePainterPortfolio-dropdown-options {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    left: 0;
    top: 100%; 
    min-width:max-content;
    width:100%;
}

.ModallmagePainterPortfolio-dropdown-option {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    color:#555;
    gap:10px;
}

.ModallmagePainterPortfolio-dropdown-option:hover {
    background-color: #40a4da;
    color: white;
}


/* 輸入框樣式 */
.ModallmagePainterPortfolio-input-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    width: 100%;
    margin-top: 5px;
    box-sizing:border-box;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    color:8C8C8C;
}
.gray-text {
    color: #999;

}
.black-text {
    color: black;
}
.ModallmagePainterPortfolio-save-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.ModallmagePainterPortfolio-save-button button {
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    width: 120px;
    height: 40px;

}

/*RWD */
@media screen and (max-width: 1280px){
    .ModallmagePainterPortfolio-content{
        max-width:1160px;
    }

    .ModallmagePainterPortfolio-close{
        width: 35px;
        height: 35px;
        font-size: 18px;
    }

    .ModallmagePainterPortfolio-image-section {
        padding: 30px 35px;
    }

    .ModallmagePainterPortfolio-select-section{
        max-width: 510px;
        max-height: 320px;
    }
    .ModallmagePainterPortfolio-likesIcon-container{
        top:15px;
        right:20px;
        max-width:120px;
        max-height:50px;
    }
    .ModallmagePainterPortfolio-likesIcon-container img{
        width: 34px !important;
        height: 34px !important;
    }
    .ModallmagePainterPortfolio-likes-number{
        font-size: 24px;
    }
    .ModallmagePainterPortfolio-save-button{
        margin-top: 15px;
    }
    .ModallmagePainterPortfolio-save-button button{
        max-height: 38px;

    }
}


@media screen and (max-width: 834px){
    .ModallmagePainterPortfolio-content{
        max-width:80vh;
        max-height:80vh;
    }
    .ModallmagePainterPortfolio-body{
        flex-direction: column;
    }

    .ModallmagePainterPortfolio-close{
        width: 30px;
        height: 30px;
        font-size: 14px;
        top:-10px;
        left: -5px;
    }
    .ModallmagePainterPortfolio-image-container{
        flex:1.5px;
    }
    .ModallmagePainterPortfolio-image-container img {
        width: 100%;
        max-height: 55vh; 
        object-fit: cover;
    }
    .ModallmagePainterPortfolio-image-section{
        padding:10px 10px;
    }
    .ModallmagePainterPortfolio-likesIcon-container{
        top:15px;
        right:20px;
        max-width:90px;
        max-height:35px;
    }
    .ModallmagePainterPortfolio-likesIcon-container img{
        width: 28px !important;
        height: 28px !important;
    }
    .ModallmagePainterPortfolio-likes-number{
        font-size: 20px;
    }
    .ModallmagePainterPortfolio-select-section{
        width: calc(100% - 30px); 
        max-width: 100%;
        height:auto;
        padding:20px 35px;
    }
    .ModallmagePainterPortfolio-save-button{
        margin-top: 20px;
    }
    .ModallmagePainterPortfolio-save-button button {
        font-size: 14px;
        width: 110px;
        height: 35px;
    }
    #category-dropdown, #style-dropdown {
        max-width: 150px;
        max-height: 36px;
        padding-left:30px;
    }
    #category-dropdown::after, #style-dropdown::after {
        right: 20px; 
        top: 50%;
    }
}

@media screen and (max-width: 480px){

    .ModallmagePainterPortfolio-content{
        max-width:390px; 
    }
    .ModallmagePainterPortfolio-close {
        width:25px;
        height: 25px;
        font-size: 12px;
        left:-8px;
    }

    .ModallmagePainterPortfolio-image-section{
        padding: 25px 25px 0px 25px;
        flex:1;
    }
    .ModallmagePainterPortfolio-image-container img {
        max-height: 40vh; 
    }
    .ModallmagePainterPortfolio-likesIcon-container{
        top:12px;
        right:12px;
        max-width:92px;
        max-height:34px;
    }
    .ModallmagePainterPortfolio-likesIcon-container img{
        width: 24px !important;
        height: 24px !important;
    }
    .ModallmagePainterPortfolio-likes-number{
        font-size: 18px;
    }
    .ModallmagePainterPortfolio-select-section{
        width: calc(100% - 60px); 
        max-width: 100%;
        height:auto;
        padding:20px 20px;
    }
    .ModallmagePainterPortfolio-save-button{
        margin-top: 15px;
    }
    .ModallmagePainterPortfolio-save-button button {
        padding: 0px 9px;
        font-size: 13px;
        width: 90px;
        height: 30px;
    }
    #category-dropdown, #style-dropdown {
        max-width: 118px;
        max-height: 30px;
        font-size:14px;
        padding-left:20px;
    }
    .ModallmagePainterPortfolio-input-box{
        font-size:14px;
        padding:5px;
    }
    .ModallmagePainterPortfolio-max-selection{
        font-size:12px;
    }
    .ModallmagePainterPortfolio-dropdown-option{
        font-size:14px;
    }
}    


@media screen and (max-width: 375px){
    .ModallmagePainterPortfolio-close{
        top:-10px;
    }

    .ModallmagePainterPortfolio-image-section{
        padding: 20px 20px 0px 20px;
    }
    .ModallmagePainterPortfolio-likesIcon-container{
        max-width:64px;
        max-height:24px;
    }
    .ModallmagePainterPortfolio-likesIcon-container img{
        width: 20px !important;
        height: 20px !important;
    }
    .ModallmagePainterPortfolio-likes-number{
        font-size: 14px;
    }
    .ModallmagePainterPortfolio-select-section{
        width: calc(100% - 50px)
    }
    #category-dropdown, #style-dropdown {
        max-width: 102px;
        max-height: 24px;
        font-size: 12px;
    }
    #category-dropdown::after, #style-dropdown::after {
        right: 10px; 
        top: 50%;
        font-size: 10px;
    }
    .ModallmagePainterPortfolio-input-box{
        font-size:12px;
    }
    .ModallmagePainterPortfolio-save-button button {
        font-size: 10px;
        width: 80px;
        height: 28px;
    }
    .ModallmagePainterPortfolio-dropdown-option{
        font-size:12px;
    }
    
}