

.register-page{

    /* font-size*/
    --register-logo-font-size: 40px;
    --register-form-group-input-placeholder-font-size: 20px;


    /*width*/
    --register-logo-width: 179px;
    --register-file-box-width: 293px;

    /*max-width*/
    --register-top-part-container-max-width: 1440px;

    /*height*/
    --register-logo-height: 38px;
    --register-file-box-height: 144px;
    --register-form-group-input-height: 56px;

    /*font-weight*/
    --register-logo-font-weight: 700;
    --register-form-group-input-placeholder-font-weight: 500;

    /*line-height*/
    --register-logo-line-height: 11px;
    --register-form-group-input-placeholder-line-height:11px;

    /*letter-spacing*/
    --register-logo-letter-spacing: 3px;
    --register-form-group-input-placeholder-letter-spacing: 3px;

    /*margin-top*/
 

    /*margin-bottom*/
    --register-form-container-margin-bottom:89px;
    --register-logo-margin-bottom:80px;
    --register-top-part-container-margin-bottom:63px;
    --register-ArtistClientButtons-margin-bottom: 63px;
    --register-form-group-margin-bottom: 37px;


    /*gap*/
    --register-form-container-gap: 55px;

    /*border-radius*/
    --register-form-input-border-radius: 10px;
   
}


.register-page{
    width: 1440px;
    padding: 107px 80px 81px 80px;  /* top right bottom left */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* center in the viewport */
}

.register-top-part-container{
    width:100%;
    border-bottom: 2px solid transparent;
    background-image: linear-gradient(180deg, #fff, #fff), 
                      linear-gradient(90deg, #F0F9FF 0%, #A2E2FF 50%, #F0F9FF 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin-bottom:var(--register-top-part-container-margin-bottom);
}

.register-logo{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    color:#7A82F0;
    text-align: center;
    margin-bottom:var(--register-logo-margin-bottom);
    font-size:var(--register-logo-font-size);
    font-weight:var(--register-logo-font-weight);  
    line-height:var(--register-logo-line-height);
    letter-spacing:var(--register-logo-letter-spacing);
    flex-shrink: 0;
}

.register-ArtistClientButtons-container{
    width:100%;
    display:flex;
    justify-content: space-around;
    margin-bottom:var(--register-ArtistClientButtons-margin-bottom);
    
}

.register-form-container {
    width: 100%;;
    display: flex;
    justify-content: space-around;
    gap:var(--register-form-container-gap);
    margin-bottom: var(--register-form-container-margin-bottom);
  }
  
  /* 每個欄 */
.register-form-column {
    flex: 1; /* 平均分配寬度 */
    position:relative;
  }
  
  /* 表單的基本欄位樣式 */
  .register-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom:var(--register-form-group-margin-bottom);
    flex-shrink: 0;
  }
 
  .register-form-group input[type="text"],
  .register-form-group input[type="email"],
  .register-form-group input[type="password"] {
    height: var(--register-form-group-input-height);
    padding: 8px 32px;
    border: 1px solid #7BC8EC;
    border-radius: var(--register-form-input-border-radius);
  }

  .register-form-group input[type="text"]::placeholder,
   .register-form-group input[type="email"]::placeholder,
  .register-form-group input[type="password"]::placeholder{
    font-size:var(--register-form-group-input-placeholder-font-size);
    font-weight:var(--register-form-group-input-placeholder-font-weight);
    line-height:var(--register-form-group-input-placeholder-line-height);
    letter-spacing:var(--register-form-group-input-placeholder-letter-spacing);
    color: #7BC8EC;
  }

  .register-form-group input[type="text"]:focus,
  .register-form-group input[type="email"]:focus,
  .register-form-group input[type="password"]:focus {
    border: 2px solid #7BC8EC;
    outline: none;  
  }

  /*身分證 block*/ 
  .register-file-container {
    display: flex;
    gap: 26px; /* 兩塊間的距離 */
  }

  .register-file-box {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: var(--register-file-box-width);
        height: var(--register-file-box-height);
        border: 1px solid #7BC8EC; 
        border-radius: var(--register-form-input-border-radius);
        cursor: pointer;           
        color: #7BC8EC;          
        font-size: var(--register-form-group-input-placeholder-font-size); 
        font-weight:var(--register-form-group-input-placeholder-font-weight);
        line-height:var(--register-form-group-input-placeholder-line-height);
        letter-spacing:var(--register-form-group-input-placeholder-letter-spacing);
        background-color: #fff;    
  }

  
  /* 同意條款 */
  .register-form-agree {
    margin-top: 38px;
    display: flex;
    align-items: center;
  }

  .register-form-agree input[type="checkbox"] {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    appearance: none; /* 移除預設樣式 */
    -webkit-appearance: none; /* 為了兼容 Safari */
    background-color: white; /* 背景色 */
    border: 2px solid #7BC8EC; /* 外框顏色 */
    border-radius: 5px; /* 外框圓角 */
    cursor: pointer; /* 滑鼠移過時顯示為指標 */
    position: relative;
}

/* 勾選符號 */
.register-form-agree input[type="checkbox"]:checked::after {
    content: "✓"; 
    color: black; 
    font-size: 18px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


  .register-form-agree label {
    font-size: var(--register-form-group-input-placeholder-font-size); 
    font-weight:var(--register-form-group-input-placeholder-font-weight);
    line-height:var(--register-form-group-input-placeholder-line-height);
    letter-spacing:var(--register-form-group-input-placeholder-letter-spacing);
    color: #7BC8EC;      
    margin-left: 15px;
  }

  .register-form-agree label span{
    color:#417791;
  }


  /*已有帳號*/
  .register-alreadyHasAccount{
    margin-top:38px;
    position:absolute;
    right:0px;
    bottom:6px;
    font-size: var(--register-form-group-input-placeholder-font-size); 
    font-weight:var(--register-form-group-input-placeholder-font-weight);
    line-height:var(--register-form-group-input-placeholder-line-height);
    letter-spacing:var(--register-form-group-input-placeholder-letter-spacing);
    color: #7BC8EC;      
  }

  .register-alreadyHasAccount a{
    color:#417791;
  }