


.registerArtistClientBtn{
     /*font size*/
     --registerArtistClientBtn-font-size:24px;

     /*line height*/
     --registerArtistClientBtn-line-height: 0px; 
 
     /*letter spacing*/
     --registerArtistClientBtn-letter-spacing: 5px;
 
     /*font weight*/
     --registerArtistClientBtn-font-weight: 500;
 
     /*border radius*/
     --registerArtistClientBtn-border-radius: 30px;
 
     /*button width*/
     --registerArtistClientBtn-width: 166px;
 
     /*button height*/
     --registerArtistClientBtn-height: 57px;
 
     /*button padding*/
     --registerArtistClientBtn-padding: 4px 8px;
}

.registerArtistClientBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--registerArtistClientBtn-border-radius);
    border: 1.5px solid #5EA5D4;
    width:var(--registerArtistClientBtn-width);
    height:var(--registerArtistClientBtn-height);
    color: #48A8E0;
    text-align: center;
    font-size: var(--registerArtistClientBtn-font-size);
    font-style: normal; 
    font-weight: var(--registerArtistClientBtn-font-weight);
    line-height: var(--registerArtistClientBtn-line-height);
    letter-spacing: var(--registerArtistClientBtn-letter-spacing);
    padding: var(--registerArtistClientBtn-padding);
}


.registerArtistClientBtn:hover {
    background-color: #5EA5D4;
    color: #fff;
    cursor: pointer;
}

.registerArtistClientBtn:active {
    background-color: #5EA5D4;
    color: #fff;
    cursor: pointer;
}

.registerArtistClientBtn.active {
    background-color: #5EA5D4;
    color: #fff;
    cursor: pointer;
}






@media screen and (max-width: 1280px){
    .registerArtistClientBtn{
        --registerArtistClientBtn-font-size:20px;
        --registerArtistClientBtn-width: 150px;
        --registerArtistClientBtn-height: 51px;
    }
}

@media screen and (max-width: 834px){
    .registerArtistClientBtn{
        --registerArtistClientBtn-letter-spacing:3px;
    }
    
}

@media screen and (max-width:440px){
    .registerArtistClientBtn{
        --registerArtistClientBtn-font-size:12px;
        --registerArtistClientBtn-width: 80px;
        --registerArtistClientBtn-height: 25px;
    }
}


@media screen and (max-width:320px){
    .registerArtistClientBtn{
        --registerArtistClientBtn-font-size:10px;
        --registerArtistClientBtn-width: 70px;
        --registerArtistClientBtn-height: 20px;
    }
}