.CustomIconButton{
    /*width*/
    --CustomIconButton-width:140px;
    --CustomIconButton-Icon:35px;


    /*height*/
    --CustomIconButton-height:50px;

    /*gap*/
    --CustomIconButton-gap:8px;


    /*font-size*/
    --CustomIconButton-font-size:17px;
}




.CustomIconButton{
    width:100%;
    max-width:var(--CustomIconButton-width);
    height:var(--CustomIconButton-height);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    gap:var(--CustomIconButton-gap);
    padding:7px 11px;
    font-size:var(--CustomIconButton-font-size);
    font-weight:600;
    letter-spacing: 2px;
    line-height:normal;
    border-radius: 5px;
    border: 1.5px solid #61BCED;
    color:#61BCED;
    white-space: nowrap;
    cursor:pointer;
}



.CustomIconButton-Icon {
    width: var(--CustomIconButton-Icon);
    height: auto;    
    aspect-ratio: 1;
}


.CustomIconButton:hover{
    background-color:#61BCED;
    color:#ffffff;
    transition: all 0.3s ease;
}


/*RWD*/
@media screen and (max-width: 1280px){
    .CustomIconButton{
        --CustomIconButton-width:120px;
        --CustomIconButton-height:45px;
        padding:7px 9px;
        --CustomIconButton-gap:7px;
        --CustomIconButton-font-size:13px;

    }

    .CustomIconButton-Icon{
        --CustomIconButton-Icon:30px;
    }


}



@media screen and (max-width:834px){
    .CustomIconButton{
        --CustomIconButton-width:90px;
        --CustomIconButton-height:35px;
        padding:6px 8px;
        --CustomIconButton-gap:6px;
        --CustomIconButton-font-size:10px;

    }

    .CustomIconButton-Icon{
        --CustomIconButton-Icon:23px;
    }
}




@media screen and (max-width:440px){
    .CustomIconButton{
        --CustomIconButton-width:130px;
        --CustomIconButton-height:30px;
        padding:5px 8px;
        --CustomIconButton-gap:6px;
        --CustomIconButton-font-size:11px;

    }

    .CustomIconButton-Icon{
        --CustomIconButton-Icon:20px;
    }

}



@media screen and (max-width:370px){
    .CustomIconButton{
        --CustomIconButton-width:80px;
        --CustomIconButton-height:30px;
        padding:5px 5px;
        --CustomIconButton-gap:4px;
        --CustomIconButton-font-size:10px;

    }

    .CustomIconButton-Icon{
        --CustomIconButton-Icon:20px;
    }
}