.dropdown-wrapper {
  position: relative;
  width: 100%;
  font-family: "Noto Sans TC";
}

.dropdown-selected {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.dropdown-arrow {
  margin-left: 8px;
  font-size: 12px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dropdown-option {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #40a4da;
  color: white;
}

.gray-text {
  color: #8C8C8C;
}

.black-text {
  color: black;
}


