.artworkPainterProfilePage{

    /*max width */
    --artworkPainterProfilePage-width: 1440px;
    
}
.artworkPainterProfilePage{
    width:100%;
    max-width:var(--artworkPainterProfilePage-width);
    padding:110px 88px 0px 88px; 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}
.artworkPainterDetail-container{
    display:flex;
    flex-direction: column;
}
