.artworkShowcaseLobbyPage {

  /*max-width*/
  --artworkShowcaseLobbyPage-max-width: 1440px;


  /*gap*/
  --artworkShowcaseLobby-button-container-gap: 240px;

  /*margin-bottom*/
  --artworkShowcaseLobby-button-container-margin-bottom: 40px;
  --artworkShowcaseLobby-artworks-container-margin-bottom: 50px;
}

.artworkShowcaseLobbyPage {
  width: 100%;
  max-width: var(--artworkShowcaseLobbyPage-max-width);
  padding: 140px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.artworkShowcaseLobbyPage-search-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.artworkShowcaseLobbyPage-search-container.moved {
  justify-content: flex-start; 
}

.artworkShowcaseLobby-button-container {
  width: 100%;
  display: flex;
  gap: var(--artworkShowcaseLobby-button-container-gap);
  padding: 0px 250px;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--artworkShowcaseLobby-button-container-margin-bottom);

}

.artworkShowcaseLobby-artworks-container {
  display: flex;
  flex-wrap: wrap;/* wrap items to the next line */
  width: 100%;
  margin-bottom: var(--artworkShowcaseLobby-artworks-container-margin-bottom);
  justify-content: center;
}




/*RWD*/
@media screen and (max-width:1280px) {
  .artworkShowcaseLobbyPage {
    padding: 120px 36px 50px 36px;
    /* top right bottom left */
  }

  .artworkShowcaseLobby-button-container {
    padding: 0px 265px;
    --artworkShowcaseLobby-button-container-gap: 200px;
  }
}



@media screen and (max-width:834px) {

  .artworkShowcaseLobby-button-container {
    padding: 0px 138px;
    --artworkShowcaseLobby-button-container-gap: 110px;
  }
}

@media screen and (max-width:768px) {
  .artworkShowcaseLobbyPage {
    width: 768px;
  }
}


@media screen and (max-width:440px) {
  .artworkShowcaseLobbyPage {
    width: 100%;
    max-width: 440px;
    padding: 108px 32px 50px 32px;
  }

  .artworkShowcaseLobby-button-container {
    padding: 0px 12px;
    --artworkShowcaseLobby-button-container-gap: 40px;
    --artworkShowcaseLobby-button-container-margin-bottom: 20px;
  }

  .artworkShowcaseLobby-artworks-container {

    --artworkShowcaseLobby-artworks-container-margin-bottom: 20px;
  }

}


@media screen and (max-width:390px) {

  .artworkShowcaseLobbyPage {
    width: 370px;
  }

  .artworkShowcaseLobby-button-container {
    padding: 0px 32px;
    --artworkShowcaseLobby-button-container-gap: 10px;

  }
}