.masonry-grid {
    display: flex;
    gap: 38px; 
  }
  
  .masonry-grid-column {
    display: flex;
    flex-direction: column;
  }
  
  .masonry-grid-item {
    position:relative;
    margin-bottom: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .masonry-likesIcon-container{
    position:absolute;
    top:10px;
    right:10px;
    width: 44px;
    height: 16px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    border-radius: 3px;
    border: 0.5px solid #FF5C5C;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    
  }

  .masonry-likesIcon-container img{
    width: 10px !important;
    height: 10px !important;
    object-fit: contain;
  }

  .masonry-likes-number{
    color: #FF5C5C;
    text-align: center;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

 
  
  .masonry-grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    object-fit: cover;
  }
  

  .masonry-grid-item:hover {
    transform: translateY(-8px);
   
} 




/*RWD*/

@media screen and (max-width:834px){
    
    .masonry-grid{
      gap:10px;
    }

    .masonry-grid-item{
      margin-bottom:20px;
    }
     
}


@media screen and (max-width:440px){
  .masonry-grid{
    gap:15px;
  }
}



