.masonry-grid {
    display: flex;
    gap:30px;
    align-items: flex-start;
  }
  
  .masonry-column {
  background-clip: padding-box;
 
  width: 100%;
}

/* 預設 5 欄，每個 column 設定不同寬度 */
.masonry-column:nth-child(1) {
  width: 256px !important;
}
.masonry-column:nth-child(2) {
  width: 206px !important;
}
.masonry-column:nth-child(3) {
  width: 317px !important;
}
.masonry-column:nth-child(4) {
  width: 236px !important;
}
.masonry-column:nth-child(5) {
  width: 190px !important;
}

  
  .masonry-grid-item {
    width:100%;
    position:relative;
    margin-bottom: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    min-width: 140px;
   
  }

  

  .masonry-grid-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px; 
    object-fit: cover;
    
  }

  .masonry-downloadIcon-container {
    position: absolute;
    top: 2px;
    left: 6px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: auto; 
  }
  .masonry-downloadIcon-container Img {
    width: 20px !important;
    height: 20px !important;
    object-fit: contain;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
  }
  .masonry-likesIcon-container{
    position:absolute;
    top:10px;
    right:10px;
    width: 44px;
    height: 16px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    border-radius: 3px;
    border: 0.5px solid #FF5C5C;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);    
  }

  .masonry-likesIcon-container img{
    width: 15px !important;
    height: 15px !important;
    object-fit: contain;
  }

  .masonry-likes-number{
    color: #FF5C5C;
    text-align: center;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

 
  
 
  

  .masonry-grid-item:hover {
    transform: translateY(-8px);
   
} 


/*RWD*/
@media screen and (max-width:1280px){

  .masonry-grid{
    gap:10px;
  }

  .masonry-column:nth-child(1) {
    width:100% !important;
    max-width: 210px !important;
  }
  .masonry-column:nth-child(2) {
    width:100% !important;
    max-width: 206px !important;
  }
  .masonry-column:nth-child(3) {
    width:100%  !important;
    max-width: 261px !important;
  }
  .masonry-column:nth-child(4) {
    width:100% !important;
    max-width: 190px !important;
  }
  .masonry-column:nth-child(5) {
    width:100% !important;
    max-width: 190px !important;
  }
}





@media screen and (max-width:834px){
    
    .masonry-grid{
      gap:10px;
    }

    .masonry-column:nth-child(1) {
      max-width: 180px !important;
    }
    .masonry-column:nth-child(2) {
      max-width: 180px !important;
    }
    .masonry-column:nth-child(3) {
      max-width: 200px !important;
    }
    .masonry-column:nth-child(4) {
      max-width: 160px !important;
    }
  

    .masonry-grid-item{
      margin-bottom:20px;
    }
     
}


@media screen and (max-width:440px){

  .masonry-column:nth-child(1) {
    max-width: 170px !important;
  }
  .masonry-column:nth-child(2) {
    max-width: 190px !important;
  }

  .masonry-grid-item {
    min-width: auto;
    
  }

  .masonry-grid{
    gap:10px;
  }
}




