.MasonryArtCommunity-grid {
  display: flex;
  gap:30px;
  align-items: flex-start;
}

.MasonryArtCommunity-grid-column {
  background-clip: padding-box;
  width: 100%;
}

/* 預設 5 欄，每個 column 設定不同寬度 */
.MasonryArtCommunity-grid-column:nth-child(1) {
  width: 256px !important;
}
.MasonryArtCommunity-grid-column:nth-child(2) {
  width: 206px !important;
}
.MasonryArtCommunity-grid-column:nth-child(3) {
  width: 317px !important;
}
.MasonryArtCommunity-grid-column:nth-child(4) {
  width: 236px !important;
}
.MasonryArtCommunity-grid-column:nth-child(5) {
  width: 190px !important;
}

.MasonryArtCommunity-grid-item {
  width:100%;
  position:relative;
  margin-bottom: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  min-width: 140px;

}



.MasonryArtCommunity-grid-item-image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
    height: 100%;
    border-radius: 10px; 
    object-fit: cover;
}

.MasonryArtCommunity-grid-item-image:hover {
  transform: translateY(-8px);

}

.MasonryArtCommunity-artwork-title {
  color: #565656;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.MasonryArtCommunity-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MasonryArtCommunity-artistInfo-container {
  display: flex;
  gap: 2px;
  align-items: center;
}

.MasonryArtCommunity-artistInfo-container img  {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
}



.MasonryArtCommunity-artistName {
  color: #7D7D7D;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.MasonryArtCommunity-likesIcon-container {
  display: flex;
  align-items: center;
  gap: 1px;
  margin-right: 6px;
}

.MasonryArtCommunity-likesIcon-container img {
  cursor:pointer;
  width: 20px !important;
  height: 20px !important;
  object-fit: contain;
}

.MasonryArtCommunity-likes-number {
  color: #FF5C5C;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}




/*RWD*/
@media screen and (max-width:1280px) {
  .MasonryArtCommunity-grid {
    gap: 10px;
  }

  .MasonryArtCommunity-grid-column:nth-child(1) {
    width:100% !important;
    max-width: 210px !important;
  }
  .MasonryArtCommunity-grid-column:nth-child(2) {
    width:100% !important;
    max-width: 206px !important;
  }
  .MasonryArtCommunity-grid-column:nth-child(3) {
    width:100%  !important;
    max-width: 261px !important;
  }
  .MasonryArtCommunity-grid-column:nth-child(4) {
    width:100% !important;
    max-width: 190px !important;
  }
  .MasonryArtCommunity-grid-column:nth-child(5) {
    width:100% !important;
    max-width: 190px !important;
  }

  .MasonryArtCommunity-artwork-title {
    font-size: 16px;
  }

  .MasonryArtCommunity-content-container img {
    width: 20px;
    height: 20px;
  }

  .MasonryArtCommunity-artistName{
    font-size: 12px;
  }

  .MasonryArtCommunity-likesIcon-container img {
    width: 16px !important;
    height: 16px !important;
 
  }

  .MasonryArtCommunity-likes-number {
    font-size: 10px;
  }

 
}

@media screen and (max-width:834px) {

  .MasonryArtCommunity-grid {
    gap: 10px;
  }

  .MasonryArtCommunity-grid-column:nth-child(1) {
    max-width: 180px !important;
  }
  .MasonryArtCommunity-grid-column:nth-child(2) {
    max-width: 180px !important;
  }
  .MasonryArtCommunity-grid-column:nth-child(3) {
    max-width: 200px !important;
  }
  .MasonryArtCommunity-grid-column:nth-child(4) {
    max-width: 160px !important;
  }

  .MasonryArtCommunity-grid-item {
    margin-bottom: 20px;
  }
  
  .MasonryArtCommunity-artwork-title {
    font-size: 14px;
  }
  
  .MasonryArtCommunity-content-container img {
    width: 18px;
    height: 18px;
  }

  .MasonryArtCommunity-artistName{
    font-size: 10px;
  }

  .MasonryArtCommunity-likesIcon-container img {
    width: 14px !important;
    height: 14px !important;
 
  }

  .MasonryArtCommunity-likes-number {
    font-size: 9px;
  }
}

@media screen and (max-width:440px) {
  .MasonryArtCommunity-grid {
    gap: 10px;
  }

  .MasonryArtCommunity-grid-column:nth-child(1) {
    max-width: 170px !important;
  }
  .MasonryArtCommunity-grid-column:nth-child(2) {
    max-width: 190px !important;
  }

  .MasonryArtCommunity-grid-item{
    min-width:auto;
    gap:8px;
  }


  .MasonryArtCommunity-artwork-title {
    font-size: 11px;
  }

  .MasonryArtCommunity-content-container img {
    width: 16px;
    height: 16px;
  }

  .MasonryArtCommunity-artistName{
    font-size: 8px;
  }

 
}

@media screen and (max-width:370px){
  .MasonryArtCommunity-grid {
    gap: 14px;
  }

  .MasonryArtCommunity-artwork-title {
    font-size: 9px;
  }

  .MasonryArtCommunity-content-container img {
    width: 14px;
    height: 14px;
  }

  .MasonryArtCommunity-artistName{
    font-size: 6px;
  }

  .MasonryArtCommunity-likesIcon-container img {
    width: 12px !important;
    height: 12px !important;
 
  }

  .MasonryArtCommunity-likes-number {
    font-size: 8px;
  }


} 