
.consumerOrdersManagementPage{
    position: relative;
    width:100%;
    max-width:1440px;
    padding: 100px 30px 20px 30px; 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}

.consumerOrdersManagement-tab-container{
    display:flex;
    flex-direction: column;
    width:100%;
    padding:0px 20px;
}

.ConsumerOrdersManagement-currentCase-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
  
}




@media screen and (max-width:834px){

    .ConsumerOrdersManagement-currentCase-container{
    
        grid-template-columns: 1fr;
        gap:30px;
      
    }
}


@media screen and (max-width:768px){

    .consumerOrdersManagementPage{
       
        width:768px;
      
        
    }

}


@media screen and (max-width:440px){

    .consumerOrdersManagementPage{
       
        width:100%;
    
        
    }

    .consumerOrdersManagement-tab-container{
        padding:0px 0px;
    }

}